/* fadilxcoder */

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body{
    margin:0;
    font-family: OpenSans;
    position: relative;
    background: url(../images/back.jpg);
    background-size: cover;
}
.alert-success{
    color: green !important;
}
.alert-danger{
    color: red !important;
}

#api{
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
#api #api-response{
    height: 100%;
}

#api-response p{
    overflow-wrap: break-word;
    line-height: 2;
}

main{
    width: 700px;
    margin: 0 auto;
    padding: 15px;
    height: 500px;
    background: white;
    margin-top: 25px;
}